# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
./data-collector
# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# IDEs, Tools, Mac hidden files
.idea/
.vscode/
.terraform
.DS_Store
